* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.btn {
    padding: 15px 30px;
    background: #1B75BB;
    border-radius: 5px;
    border: 1px solid #1B75BB;
    color: #FFFFFF;
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}

.btn:hover {
    background: #FFFFFF;
    border: 1px solid #1B75BB;
    color: #1B75BB;
    cursor: pointer;
}

/* SERENITY */
.menu {
    background-image: url(../imgs/background-serenity.png);
    background-size: cover;
    min-height: 690px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 244px ;
}

.header {
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.logo-header {
    margin-right: 170px;
}

.logo__name {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #081F32;
    text-decoration: none;
}

.header-logo-name {
    position: absolute;
    right: -40px;
}

.header__navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 337px;
}

.navigation__link {
    text-decoration: none;
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(8, 31, 50, 1);
}

.navigation__link:hover {
    color: #1B75BB;
}

.active {
    color: #1B75BB;
}

.header__button {
    margin-left: auto;
}

.serenity {
    margin-top: 113px;
}
.serenity__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    margin-left: 21px;
    margin-bottom: 15px;
}

.serenity__quote {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
    max-width: 456px;
    margin-left: 21px;
    margin-bottom: 25px;
}

.serenity-quote--color {
    color: rgba(27, 117, 187, 1);
}

.serenity__description {
    margin-left: 21px;
    max-width: 347px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
    margin-bottom: 45px;

}

.serenity__btn {
    margin-left: 21px;
}

.finder {
    background: rgba(255, 255, 255, 0.21);
    background-size: cover;
    backdrop-filter: blur(70px);
    border-radius: 10px;
    min-width: 687px;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -175px;
    left: -34px;
}

.finder__info {
    margin-right: 60px;
    position: relative;
}

.finder__info::after {
    content: "";
    opacity: 0.4;
    border: 2px solid #9DACB8;
    border-bottom: 0;
    border-radius: 40px;
    transform: rotate(90deg);
    position: absolute;
    min-width: 34px;
    left: -48px;
    bottom: 29px;
}

.finder__info:first-child::after {
    border: 0;
}

.finder__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
    margin-bottom: 10px;
}

.finder__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.8;
}
/* /SERENITY */


/* HOLIDAYS */
.holidays {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 155px;
}

.holidays__images {
    position: relative;
}

.holidays__main-img {
    border-radius: 10px;
}

.holidays__background-img {
    position: absolute;
    opacity: 0.5;
    top: -47px;
    right: -35px;
    z-index: -1;
    border-radius: 10px;
}

.holidays__sprite-img {
    position: absolute;
    left: -55px;
    bottom: -78px;
    z-index: -1;
}

.holidays__content {
    padding-left: 70px;
}

.holiday__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
    margin-bottom: 15px;
}

.holiday__title {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 31px;
}
/* /HOLIDAYS */


/* ADVANTAGES */
.advantages {
    margin-bottom: 140px;
}
.advantages__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.advantages__title {
    margin-bottom: 25px;
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.advantages__subtitle {
    max-width: 819px;
    margin-bottom: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

.advantages__block {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 262px;
    min-height: 258px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 17.59px;
    opacity: 0.8;
}

.advantages__item:hover {
    opacity: 1;
    cursor: pointer;
}

.advantages__item-title {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #081F32;
    margin-top: 40px;
}

.advantages__item-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.6;
}
/* /ADVANTAGES */


/* GALLERY */
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;

}

.gallery__item {
    position: relative;
    margin-bottom: 23px;
}

.gallery__img {
    display: block;

}

.gallery__title {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 25px;
}

.gallery__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
    margin-bottom: 30px;
    max-width: 439px;
}

.gallery__box {
    position: absolute;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    min-width: 231px;
    min-height: 126px;
    left: 0px;
    bottom: 0px;
    padding: 23px 28px;
}

.item__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    max-width: 193px;
    min-height: 80px;
}

.item__name {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
}

.item__cost {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.8;
}

.item__btn {
    padding: 10px 20px;
}
/* /GALLERY */


/* COMMENTS */
.comments {
    margin-top: 117px;
    margin-bottom: 140px;
}

.comments__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 68px;
}

.comments__title {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.comments__row {
    display: flex;
    justify-content: space-between;
}

.comments__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 10px;
    max-width: 360px;
    min-height: 325px;
    text-align: center;
    opacity: 0.7;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.comment--opacity:hover {
    opacity: 1;
}

.comment--opacity:hover .comment__text::before {
    filter: grayscale(0%);
}

.comment__img {
    border: 2px solid #1B75BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

}

.comment__text {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 10px;
}

.comment__text::before {
    /* content: url(../imgs/quotes.svg); */
    content: "";
    display: block;
    width: 24px;
    height: 20px;
    background-image: url(../imgs/quotes.svg);
    position: absolute;
    filter: grayscale(100%);
    top: -25px;
    left: 0;
}

.comment__name {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #081F32;
    opacity: 0.9;
}

.comment__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.7;
    text-decoration: none;
}
/* /COMMENTS  */

/* SUBSCRIPTION */

.subscription {
    text-align: center;
}

.subscription__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #081F32;
    opacity: 0.8;
    margin-bottom: 20px;
}

.subscription__subtitle {
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 50px;

}

.subscription__form {
    position: relative;
    max-width: 569px;
}

.subscription__box:invalid {
    background-color: pink;
}

.subscription--position {
    margin-left: 25%;
}

.subscription__box {
    padding: 14px 0px 14px 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(8, 31, 50, 1);
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

.subscription-box-main {
    min-width: 569px;
    min-height: 54px;
    margin-bottom: 124px;
}

.subscription-button {
    position: absolute;
    right: 0px;

}

.subscription__button:hover {
    cursor: pointer;
}
/* /SUBSCRIPTION */

/* FOOTER */
footer {
    background: #FCFCFD;
    min-height: 411px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    min-height: 250px;
    padding-top: 54px;
}

.about {
    display: flex;
    flex-direction: column;
}

.footer-logo-name {
    margin-left: 42px;
    margin-bottom: 15px;
}

.footer-logo-img {
    position: absolute;
    left: -20px;
    bottom: -5px;
}

.about__title {
    max-width: 257px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #081F32;
    opacity: 0.7;
    margin-bottom: 30px;
}

.about__mail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #081F32;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 15px;
}

.about__socials {
    list-style: none;
    max-width: 155px;
    display: flex;
    justify-content: space-between;
}

.pages {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: rgba(8, 31, 50, 1);
    margin-bottom: 30px;
    align-items: center;
}

.pages__links {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    list-style: none;
    min-height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages__link:hover {
    color: #1B75BB
}

.pages__links a {
    text-decoration: none;
    color: #081F32;
}

.title--upercase {
    text-transform: uppercase;
}

.subscription-box-footer {
    min-width: 491px;
    position: relative;
}

/* /FOOTER */
